*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav h2{
    color: #000000;
    font-size: 20px;
    text-align  : center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 5px;

}
nav ul li a{
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
content.table{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
content.td,th{
    border: 1px solid #755151;
    text-align: center;
    padding: 8px;
}