<style>
body{
  background-image: url(vecteezy_ai-generated-minimalistic-background-with-coffee-beans-and-a_45480093.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav li{
  background-color: black;
}
</style>